body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* ~~ Element-/tagkiezers ~~ */
ul, ol, dl { /* Vanwege de verschillen tussen browsers kunt u het beste geen opvulling en marges gebruiken voor lijsten. Voor consistentie kunt u hier of bij de items (LI, DT, DD) voor de lijsten de gewenste waarden opgeven. Houd er rekening mee dat wat u hier doet, wordt gebruikt in de navigatielijst, tenzij u een specifiekere kiezer opgeeft. */
    /*
    padding: 0;
    margin: 0;
    */
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;	 /* als u de bovenmarge verwijdert, voorkomt u dat marges buiten de div vallen waartoe ze behoren. De resterende ondermarge zorgt ervoor dat er ruimte blijft tussen de div en alle volgende elementen. */
    padding-right: 15px;
    padding-left: 15px; /* als u opvulling toevoegt aan de zijkant van de elementen in de divs, in plaats van aan de divs zelf, voorkomt u dat u kadermodelberekeningen moet uitvoeren. U kunt als alternatief een geneste div met opvulling aan de zijkant gebruiken. */
}
a img { /* met deze kiezer verwijdert u de blauwe standaardrand die in bepaalde browsers wordt weergeven rond een afbeelding als deze wordt omgeven door een koppeling */
    border: none;
}
/* ~~ De stijl voor de koppelingen op uw site moet deze volgorde aanhouden, inclusief de groep kiezers waarmee het aanwijseffect wordt gemaakt. ~~ */
a:link {
    text-decoration: none; /* tenzij u zeer unieke opmaak toepast op uw koppelingen, kunt u de koppelingen het beste onderstrepen zodat ze gemakkelijk te herkennen zijn */
}
a:visited {
    text-decoration: none;
    color: #5CDC29;
}
a:hover, a:active, a:focus { /* met deze groep kiezers krijgen gebruikers die navigeren met een toetsenbord, dezelfde aanwijsfunctionaliteit als gebruikers die werken met een muis. */
    text-decoration: none;
}

/* ~~ deze container met vaste breedte omvat alle overige elementen ~~ */
.container {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.85);
    max-width: 900px;
}
.tekst13pxgroen {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #5CDC29;
    font-weight: bold;
}
.tekst13pxzwartbold {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #000;
}
.tekst13pxwitbold {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
}
.tekst15pxgrijs {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 17px;
    color: #5A5A5A;
    font-variant: small-caps;
    text-transform: lowercase;
}
.tekst13pxoranje {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #F60;
}
.titelgrijs {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #5A5A5A;
}

/* ~ diverse klassen voor zweven/wissen ~~ */
.fltrt {  /* met deze klasse kunt u een element aan de rechterkant van uw pagina laten zweven. Het zwevende element moet voorafgaan aan het element waarnaast het op de pagina staat. */
    float: right;
    margin-left: 8px;
}
.fltlft { /* met deze klasse kunt u een element aan de linkerkant van uw pagina laten zweven. Het zwevende element moet voorafgaan aan het element waarnaast het op de pagina staat. */
    float: left;
    margin-right: 8px;
}
.clearfloat { /* deze klasse kunt u voor een <br /> of een lege div gebruiken als het laatste element dat volgt op de laatste zwevende div (binnen de container) wanneer overflow:hidden is verwijderd uit de container */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
a:hover {
    color: #666666;
    text-decoration: none;
}
a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #5CDC29;
}
a:active {
    text-decoration: none;
}
.tekst13pxgroen {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: #5CDC29;
}
.rechtsuitlijnen {
    text-align: right;
}
body,td,th {
    font-size: 12px;
    color: #333;
}

.content {
    padding-top: 2em;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
}

#mainmenu {
    padding-top: 4em;
}

#submenu {
    text-align: right;
}

.submenuspacing {
    height: 8em;
}

.menu ul {
    margin-left: 1em;
    padding-left: 15px;
}

.menu ul li {
    color: #5CDC29;
}

.menu ul li.activemenuitem {
    color: black;
    list-style-position: ;
}

#submenu ul{
    list-style-type: none;
}

#submenu ul li:after {
    content: " •"
}

/* DEBUG */
/*
[class^="col"] {
    background: #EEF;
    border: 1px solid black;
}
*/