---
layout: default
title: Activiteiten België
background: BACKGR-suyana-4.jpg
---

<p>Welkom op de website van Suyana Peru!

<p>Wij zijn een Belgische vzw die zich inzet voor de arme bevolking in Peru. Bekijk meer info over onze organisatie onder
de vereniging en over de projecten die we steunen in Peru onder de projecten in Peru</p>

<p>Je kan ook een steentje bijdragen door een actie te organiseren in het kader van Music for Life van Studio Brussel.
Suyana Peru is een erkende organisatie om geld voor in te zamelen.</p>

<p>De Spaghetti dag in Heusden Zolder was een groot succes! Meer dan 340 mensen kwamen een spaghetti eten voor het goede
doel! Dank aan iedereen voor de steun! Hier kan je de foto's bekijken!</p>

<p>We organiseerden vorig jaar ook twee cocktailavonden en in april vond er een grote spaghettislag plaats. Ook gaan we
regelmatig spreken bij middenveldorganisaties, serviceclubs en scholen.</p>

<div id="carousel1" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active"><img src="images/images/56.jpg" border="0"></div>
		<div class="item"><img src="images/images/57.jpg" border="0"></div>
		<div class="item"><img src="images/images/58.jpg" border="0"></div>
		<div class="item"><img src="images/images/59.jpg" border="0"></div>
		<div class="item"><img src="images/images/60.jpg" border="0"></div>
		<div class="item"><img src="images/images/61.jpg" border="0"></div>
		<div class="item"><img src="images/images/62.jpg" border="0"></div>
		<div class="item"><img src="images/images/63.jpg" border="0"></div>
		<div class="item"><img src="images/images/64.jpg" border="0"></div>
		<div class="item"><img src="images/images/65.jpg" border="0"></div>
		<div class="item"><img src="images/images/66.jpg" border="0"></div>
		<div class="item"><img src="images/images/67.jpg" border="0"></div>
		<div class="item"><img src="images/images/68.jpg" border="0"></div>
		<div class="item"><img src="images/images/69.jpg" border="0"></div>
		<div class="item"><img src="images/images/70.jpg" border="0"></div>
		<div class="item"><img src="images/images/71.jpg" border="0"></div>
		<div class="item"><img src="images/images/72.jpg" border="0"></div>
		<div class="item"><img src="images/images/73.jpg" border="0"></div>
		<div class="item"><img src="images/images/74.jpg" border="0"></div>
	</div>
	<a class="left carousel-control" href="#carousel1" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel1" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<p></p>