---
layout: default
title: Info & contact
background: BACKGR-suyana-5.jpg
---

<div class="row">
	<div class="col-md-6 col-xs-12">
		<p>
		Een vraag?  Wil je graag meer informatie?
	    Heb je een suggestie?  Contacteer ons.
		</p>
		<p>
	    Suyana Peru vzw<br>
	    Ondernemingsnummer 0846.899.080<br>
	    Witte Barier 83<br>
	    3550 Heusden-Zolder<br>
	    IBAN BE52 0016 7379 4109<br>
	    BIC GEBABEBB<br>
		</p>
    </div>
    <div class="col-md-6 col-xs-12">
	    <p>
	    GSM nr Bruno Spriet, voorzitter: 0479 58 67 95<br>
	    GSM nr Norbert Willems, penningmeester: 0473 119466<br>
	    <a href="mailto:info@suyanaperu.be">e-mailen &gt;</a>
	    </p>
    </div>
</div>