<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"></html>
<head>
	<meta charset="UTF-8">
	<title>SUYANA Peru - {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/stylesheet.css">
</head>

{% if page.background %}
	{% assign background = page.background %}
{% else %}
	{% assign background = "BACKGR-suyana-2.jpg" %}
{% endif %}

{% assign urlsections = page.url | split: '.' %}
{% assign urlsection = urlsections.first %}

<body style="background-image: url(/images/backgrounds/{{ background }});">

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<a href="/"><img src="images/logo.png" alt="home" class="img-responsive" id="Image1"/></a>
		</div>
		<div class="col-xs-12 col-md-push-3 col-md-3 tekst13pxgroen menu" id="mainmenu">
			<!-- Hoofdmenu -->
			<ul class="tekst13pxzwartbold">
				{% for menu in site.data.menu %}
					{% assign linksections = menu.link | split: '.' %}
					{% assign linksection = linksections.first %}

					{% if linksection == urlsection %}
					<li class="activemenuitem">{{ menu.title}}</li>
					{% else %}
					<li><a href="{{ menu.link }}">{{ menu.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="col-xs-12 col-md-pull-3 col-md-3 tekst13pxzwartbold menu" id="submenu">
			<div class="submenuspacing visible-md visible-lg">&nbsp;</div>
			<!-- Submenu -->
			{% for menu in site.data.menu %}
			{% assign linksections = menu.link | split: '.' %}
			{% assign linksection = linksections.first %}
			{% if linksection == urlsection and menu.menu %}
			<ul  class="tekst13pxzwartbold">
				{% for menu in menu.menu %}
				{% if menu.link == page.url %}
				<li class="activemenuitem">{{ menu.title}}</li>
				{% else %}
				<li><a href="{{ menu.link }}">{{ menu.title }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="row content">
		<div class="col-xs-12">
			{{ content }}
		</div>
	</div>
</div>

<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-45028460-1', 'suyanaperu.be');
	ga('send', 'pageview');
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>
