<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"></html>
<head>
	<meta charset="UTF-8">
	<title>SUYANA Peru - {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/stylesheet.css">
</head>

{% if page.background %}
{% assign background = page.background %}
{% else %}
{% assign background = "BACKGR-suyana-2.jpg" %}
{% endif %}

{% assign urlsections = page.url | split: '.' %}
{% assign urlsection = urlsections.first %}

<body>

<a href="/activiteiten_Belgie.html"><img src="/images/backgrounds/BACKGR-suyana-index.jpg" style="max-width: 100%"></a>


<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-45028460-1', 'suyanaperu.be');
	ga('send', 'pageview');
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>
